@model WebApplication1.Models.SignInModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container">
        <h3 class="text-center">Login</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label mb-3"></label>
                        <input asp-for="Email" class="form-control mb-3" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PassWord" class="control-label mb-3"></label>
                        <input asp-for="PassWord" class="form-control mb-3" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>

                    </div>
                   
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input mb-3" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                        </label>
                    </div>
                    <div class="form-group mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    
                </form>
               
            </div>
            <div class="col-md-8">
                <img style="height:80vh" src="~/login.png" />
            </div>
            
            <div>
                <p>Click <a asp-action="Signup" asp-controller="Account">here</a> to signup</p>
            </div>
        </div>



    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        $(function () {

            $("#showPass").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#password").attr("type", "text");
                } else {
                    $("#password").attr("type", "password");
                }
            });

        });
    </script>
</body>
</html>
