@model WebApplication1.Models.SignUpUserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
</head>
<body>

    <div class="container">
        <div class="row">
        </div>
        <h4>SignUp</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="signup">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label mb-3"></label>
                        <input asp-for="FirstName" class="form-control mb-3" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label mb-3"></label>
                        <input asp-for="LastName" class="form-control mb-3" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label mb-3"></label>
                        <input asp-for="Email" class="form-control mb-3" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label mb-3"></label>
                        <input asp-for="Password" class="form-control mb-3" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label mb-3"></label>
                        <input asp-for="ConfirmPassword" class="form-control mb-3" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mb-5" />
                    </div>  
                    
                </form>
            </div>
            <div class="col-4">
                <img style="height:100vh" src="/lib/4957136.jpg" />
            </div>
        </div>           
   
        <div>
            <p>Click <a asp-action="login" asp-controller="Account" >here</a> to login</p>
        
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>